<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bean1-1" class="study.spring.context.bean.Avante">
        <property name="engine" ref="bean1-3" />
    </bean>

    <bean id="bean1-2" class="study.spring.context.bean.GoldWheel"/>
    <bean id="bean1-3" class="study.spring.context.bean.StrongEngine"/>

</beans>